.triangle-form {
  padding: 7%;
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-fields {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2% 2%;
}
.create-triangle-button{
  margin-top: 200px;
}
.image-display {
  width: 20vh;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  background-color: lightgrey;
}