.form {
  display: flex;
  height: 60%;
  width: 40%;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  border-radius: 20px;
  box-shadow: 0 4px 25px 0 rgba(0,0,0,0.2);
}