.triangle-image-container {
  flex: 1;
  min-height: 90%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-right: 2.5%;
  overflow: auto;
  border-radius: 20px;
  background-color: lightgray;
}
.canvas {
  width: 200px;
  height: 200px;
  /* background-color: blue; */
  overflow: auto;
}